# SQL Databases and Pandas Data Frames

For this competition, our data is in an SQLite databse.
Databases can be a hassle to work with, but Pandas has a few functions that make I/O with databases very simple.
To import the data into a data frame, you will need a few packages, starting with Pandas.
Pandas uses SQLAlchemy to interact with SQL databases; if you have Anaconda installed, this should have included the **sqlalchemy** package as well as **pandas**.

If your packages are installed, you will first need to use the **sqlalchemy** function **create_engine** to create an sql engine:

In [5]:
import pandas as pd
from sqlalchemy import create_engine

eng = create_engine('sqlite:///parkinglot_comp.db')

Since we are using SQLite, the format for the engine argument in our case is **sqlite:///path_to_database**

Our database has 3 tables: **training**, **cross_validation**, and **test**.
Next, we can directly read a table from this database into a Pandas data frame using the **pandas** function **read_sql_table** with the name of the table and the engine connected to the table.
The following code reads the **training** table and prints the first 5 rows:

In [6]:
df = pd.read_sql_table('training', eng)
print(df.head())

    Latitude  Longitude  NUC1  NUC2  NUC3  NUC4
0  30.622055 -96.336168   -75   -76   -84   -82
1  30.622087 -96.336184   -73   -73   -78   -80
2  30.622099 -96.336190   -68   -65   -73   -79
3  30.622125 -96.336196   -66   -62   -72   -82
4  30.622135 -96.336196   -70   -47   -66   -79

From here, you can mainpulate the data as necessary for training, cross validation, and testing of your model.

In order to submit your results for this competition, please output your answers for distances of each wireless device into a CSV file with 4 columns: one for each column in the test table.

A Pandas data frame can easily be written to a CSV file with the pandas function **to_csv**:

In [7]:
df.to_csv('example.csv')